/* ============================================================================================== */
/* foundation/variable
/* ============================================================================================== */
/*
/* 基本サイズの設定 ======================================== */
$baseSize: 0.8rem;
/* サイト最大幅の設定 ======================================== */
$siteWidth: 1000px;
/* サイト最小幅の設定 ======================================== */
$siteWidthMin: 300px;
/* レスポンシブの有効化 ======================================== */
$responsive: true;
/* imgフォルダパス ======================================== */
$imgPath: '../img/';
/* フォントの管理 ======================================== */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
$fontFamily: (
	sansSerif: ('Noto Sans JP', sans-serif),
	serif: ('游明朝', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'ＭＳ 明朝', serif),
	roboto: ('Roboto Slab', sans-serif)
);
/* フォントサイズの管理 ======================================== */
$fontSize: (
	default: 1.6rem,
	-3: 1rem,
	-2: 1.1rem,
	-1: 1.4rem,
	1: 1.6rem,
	2: 1.7rem,
	3: 2.4rem,
	4: 2.8rem,
	5: 3.2rem
);
/* breakpoint ======================================== */
$breakpoint: (
	sm: 480px,
	md: 768px,
	lg: $siteWidth
);
/* opacityの管理 ======================================== */
$opacity: (
	default: 0.8,
	1: 0.8
);
/* shadowの管理 ======================================== */
// oundation/mixin elevation()で利用
$shadow: (
	0: (none),
	100: (0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)),
	200: (0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)),
	300: (0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)),
	400: (0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)),
	500: (0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22))
);
/* merge vendor shadow ---------------------------------------- */
/* 階層管理 ---------------------------------------- */
$overlayElevation: 401; //z-index値 foundation/mixin elevation(4)[z-index: 400] 以上
$topElevation: 1000; //z-index値 最前面
/* inset shadowの管理 ======================================== */
$insetShadow: (
	default: inset 1px 1px 2px rgba(0, 0, 0, .12),
	1: inset 1px 1px 2px rgba(0, 0, 0, .12)
);
/* transition効果の速度管理 ======================================== */
$transitionTime: (
	default: 0.4s,
	1: 0.4s
);
/* 色の管理 ======================================== */
$colorPalette: (
	white: (default: #FFFFFF),
	black: (default: #000000),
	// text
	text: (default: rgba(0, 0, 0, .87), 1: rgba(0, 0, 0, .87), -1: rgba(0, 0, 0, .54), -2: rgba(0, 0, 0, .38)),
	text-white: (default: rgba(255, 255, 255, 1), 1: rgba(255, 255, 255, 1), -1: rgba(255, 255, 255, .7), -2: rgba(255, 255, 255, .3)),
	// link
	link: (default: #1A0DAB, hover: #0D47A1, visited: #660099),
	// project
	project: (primary: #004D40, secondary: #00BFA5, accent: #EE1F7F),
	// button
	buttonColor: (default: #E0E1E2, primary: #2185D0, secondary: #1B1C1D, red: #DB2828, orange: #F2711C, yellow: #FBBD08, olive: #B5CC18, green: #21BA45, teal: #00B5AD, blue: #2185D0, violet: #6435C9, purple: #A333C8, pink: #E03997, brown: #A5673F, gray: #767676, black: #1B1C1D),
	// sign
	sign: (positive: #00796B, success: #00796B, negative: #DB2828, error: #DB2828, info: #2185D0, warning: #A5673F)
);
/* merge vendor palette  ---------------------------------------- */
$colorPalette: map-merge($colorPalette, $materialDesignColor);