/* ============================================================================================== */
/* foundation/variable
/* ============================================================================================== */
/*
/* 基本サイズの設定 ======================================== */
$baseSize: 0.8rem;
/* サイト最大幅の設定 ======================================== */
$siteWidth: 1000px;
/* レスポンシブの有効化 ======================================== */
$responsive: true;
/* imgフォルダパス ======================================== */
$imgPath: '../img/';
/* フォントの管理 ======================================== */
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
$fontFamily: (
	sansSerif: ('Arimo', 'Noto Sans JP', sans-serif),
	serif: ('游明朝', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'ＭＳ 明朝', serif),
	roboto: ('Roboto Slab', sans-serif)
);
/* フォントサイズの管理 ======================================== */
$fontSize: (
	default: 1.4rem,
	-3: 1rem,
	-2: 1.1rem,
	-1: 1.2rem,
	1: 1.4rem,
	2: 1.6rem,
	3: 2.1rem
);
/* breakpoint ======================================== */
$breakpoint: (
	sm: 480px,
	md: 768px,
	lg: $siteWidth
);
/* opacityの管理 ======================================== */
$opacity: (
	default: 0.8,
	1: 0.8
);
/* shadowの管理 ======================================== */
// oundation/mixin elevation()で利用
$shadow: (
	0: (none),
	100: (0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)),
	200: (0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)),
	300: (0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)),
	400: (0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)),
	500: (0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22))
);
/* merge vendor shadow ---------------------------------------- */
/* 階層管理 ---------------------------------------- */
$overlayElevation: 401; //z-index値 foundation/mixin elevation(4)[z-index: 400] 以上
$topElevation: 1000; //z-index値 最前面
/* inset shadowの管理 ======================================== */
$insetShadow: (
	default: inset 1px 1px 2px rgba(0, 0, 0, .12),
	1: inset 1px 1px 2px rgba(0, 0, 0, .12)
);
/* transition効果の速度管理 ======================================== */
$transitionTime: (
	default: 0.4s,
	1: 0.4s
);
/* 色の管理 ======================================== */
$colorPalette: (
	// base color
	text: (default: rgba(0, 0, 0, .87), 1: rgba(0, 0, 0, .87), -1: rgba(0, 0, 0, .54), -2: rgba(0, 0, 0, .38)),
	text-white: (default: rgba(255, 255, 255, 1), 1: rgba(255, 255, 255, 1), -1: rgba(255, 255, 255, .7), -2: rgba(255, 255, 255, .3)),
	link: (default: rgb(26, 13, 171), hover: rgb(13, 71, 161), visited: rgb(102, 0, 153)),
	// project color
	project: (primary: rgb(0, 79, 64), secondary: rgb(0, 195, 164), accent: rgb(255, 0, 128)),
	// sign color
	info: (default: rgb(5, 73, 182), 50: rgb(227, 243, 255), 100: rgb(187, 224, 255), 200: rgb(142, 205, 255), 300: rgb(92, 185, 255), 400: rgb(48, 170, 255), 500: rgb(0, 155, 255), 600: rgb(0, 140, 251), 700: rgb(0, 122, 231), 800: rgb(0, 104, 213), 900: rgb(5, 73, 182)),
	success: (default: rgb(0, 106, 32), 50: rgb(232, 247, 234), 100: rgb(200, 235, 204), 200: rgb(164, 222, 171), 300: rgb(126, 210, 137), 400: rgb(96, 199, 111), 500: rgb(64, 189, 84), 600: rgb(55, 173, 75), 700: rgb(43, 155, 63), 800: rgb(31, 137, 52), 900: rgb(0, 106, 32)),
	warning: (default: rgb(158, 96, 0), 50: rgb(255, 247, 227), 100: rgb(255, 234, 186), 200: rgb(255, 221, 142), 300: rgb(255, 208, 97), 400: rgb(255, 198, 61), 500: rgb(255, 189, 10), 600: rgb(240, 173, 10), 700: rgb(218, 153, 5), 800: rgb(195, 131, 4), 900: rgb(158, 96, 0)),
	danger: (default: rgb(213, 0, 0), 50: rgb(254, 232, 231), 100: rgb(255, 202, 187), 200: rgb(255, 166, 143), 300: rgb(255, 129, 98), 400: rgb(255, 97, 64), 500: rgb(255, 60, 30), 600: rgb(255, 53, 25), 700: rgb(251, 44, 19), 800: rgb(237, 34, 13), 900: rgb(213, 0, 0))
);
/* common color  ---------------------------------------- */
$commonColorPalette: (
	white: (default: rgb(255, 255, 255)),
	black: (default: rgb(0, 0, 0)),
	gray: (50: rgb(250, 250, 250), 100: rgb(245, 245, 245), 200: rgb(238, 238, 238), 300: rgb(224, 224, 224), 400: rgb(189, 189, 189), 500: rgb(158, 158, 158), 600: rgb(117, 117, 117), 700: rgb(97, 97, 97), 800: rgb(66, 66, 66), 900: rgb(33, 33, 33))
);
/* merge vendor palette  ---------------------------------------- */
$colorPalette: map-merge($colorPalette, $commonColorPalette);
$colorPalette: map-merge($colorPalette, $materialDesignColor);