@charset 'UTF-8';
/* ============================================================================================== */
/* vendor
/* ============================================================================================== */
$fa-font-path: '../font';
@import 'font-awesome';
/* ============================================================================================== */
/* foundation
/* ============================================================================================== */
/*
---
name: foundation
category: 1.foundation
---
変数（関数）、スタイルリセット、基本セレクタスタイルなど、サイト構築の基本設定。
*/
@import 'foundation/variable';
@import 'foundation/function/**';
@import 'foundation/mixin/**';
@import 'foundation/extend/**';
@import 'foundation/vendor-extension/**';
@import 'foundation/base/reset';
@import 'foundation/base/setup';
/* ============================================================================================== */
/* component
/* ============================================================================================== */
/*
---
name: component
category: 2.component
---
様々なプロジェクトで利用できるような、汎用パーツを定義。色、サイズなどのスタイルは`function $variable`で設定するため、直接`componentファイル`を直接触ることは少ない。`button, alert ...`
*/
@import 'component/icon';
@import 'component/alert';
@import 'component/box';
@import 'component/button';
@import 'component/drawer';
@import 'component/modal';
@import 'component/overlay';
/* ============================================================================================== */
/* template
/* ============================================================================================== */
/*
---
name: template
category: 3.template
---
レイアウト（枠組み）を定義。
*/
@import 'template/**';
/* ============================================================================================== */
/* module
/* ============================================================================================== */
/*
---
name: module
category: 4.module
---
プロジェクト内で汎用的に利用されるパーツを定義。`globa-nav, breadcrumb, proudct ...`
*/
@import 'module/**';
/* ============================================================================================== */
/* scope
/* ============================================================================================== */
/*
---
name: scope
category: 5.Scope
---
page(post)固有のスタイルを定義。`body data-modifier="**"`をセレクタに利用。

```scss
body[data-modifier^="news"] {
	&[data-modifier~="list"] {
		style
	}
}
```
*/
@import 'scope/**';
/* ============================================================================================== */
/* utility
/* ============================================================================================== */
/*
---
name: utility
category: 6.utility
---
スタイルの調整。定義済みのスタイルの上書きなどや例外的にスタイルを適用したい場合に使用。スタイル適用優先度が最も高い。
*/
@import 'utility/**';
