/* ============================================================================================== */
/* layout/base
/* ============================================================================================== */
:root {}
html {}
body {}
/* contents ======================================== */
.contents {
	& > .inner {
		@extend %wrap;
		@include respondTo(lg) {
			display: grid;
			grid-layout-columns: 1fr size(30);
			grid-gap: size(2);
		}
	}
	/* main ---------------------------------------- */
	main {
		@include respondTo(lg) {
			grid-column: 1;
			grid-row: 1;
		}
	}
	/* sub-contents ---------------------------------------- */
	.sub-contents:nth-of-type(1) {
		@include respondTo(lg) {
			grid-column: 2;
			grid-row: 1;
		}
	}
}