/* ============================================================================================== */
/* layout/base
/* ============================================================================================== */
/*
---
name: Base
category: 3.layout
---
*/
:root {
	overflow-x: hidden;
}
html {}
body {}
