/* ============================================================================================== */
/* layout/contents
/* ============================================================================================== */
/*
---
name: Contents
category: 3.layout
---
*/
.contents {
	@extend %wrap;
	display: flex;
	flex-wrap: wrap;
	@include respondTo(lg) {
		padding-left: 0;
		padding-right: 0;
	}
	/* -------------------------------------------- */
	/* main-contents
	/* -------------------------------------------- */
	.main-contents {
		order: 1;
		width: 100%;
		padding-left: size(2);
		padding-right: size(2);
		@include respondTo(mdAndOver) {
			flex: 1;
		}
		@include respondTo(lg) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	/* -------------------------------------------- */
	/* sub-contents
	/* -------------------------------------------- */
	.sub-contents {
		order: 2;
		width: 100%;
		@include respondTo(mdAndOver) {
			width: size(30);
		}
	}
}
