/* ============================================================================================== */
/* layout/default
/* ============================================================================================== */
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
	/* contents ======================================== */
	.contents {
		padding-bottom: size(12);
		@include respondTo(mdAndOver) {
			padding-bottom: size(16);
		}
		&__inner {
			@extend %wrap;
		}
		/* main-contents ---------------------------------------- */
		.main-contents {
			&__inner {}
		}
		/* sub-contents ---------------------------------------- */
		.sub-contents:nth-of-type(1) {
			& > .sub-contents__inner {}
		}
		/* sub-contents ---------------------------------------- */
		.sub-contents:nth-of-type(2) {
			& > .sub-contents__inner {}
		}
	}
	/* footer ======================================== */
	& > .footer {
		margin-top: auto;
	}
}