/* ============================================================================================== */
/* layout/dev
/* ============================================================================================== */
body[data-modifier^='dev'] {
	background: color(gray, 2);
	.dev-contents {
		@extend %wrap;
		padding: size(8);
		margin-top: size(2);
		margin-bottom: size(2);
		background: #fff;
		&__title {
			color: #000;
			@include fontSize(4);
			font-weight: bold;
			line-height: size(10);
			margin: 0 0 size(4);
			text-align: center;
		}
	}
}