/* ============================================================================================== */
/* layout/dev
/* ============================================================================================== */
/*
開発用
*/
body[data-modifier^='dev'] {
	padding: 0;
	@include respondTo(mdAndOver) {
		background: color(gray, 100);
		padding: size(4) 0;
	}
	/* dev-contents ======================================== */
	.dev-contents {
		@extend %wrap;
		padding: size(4) size(2);
		margin-left: 0;
		margin-right: 0;
		background: color(white);
		@include respondTo(mdAndOver) {
			padding: size(8);
			margin-left: auto;
			margin-right: auto;
			@include elevation(1);
		}
	}
}