/* ============================================================================================== */
/* layout/dev
/* ============================================================================================== */
body[data-modifier^='dev'] {
	background: color(gray, 2);
	padding: size(2) 0;
	@include respondTo(mdAndOver) {
		padding: size(4) 0;
	}
	/* dev-contents ======================================== */
	.dev-contents {
		@extend %wrap;
		padding: size(4) size(2);
		background: color(white);
		@include respondTo(mdAndOver) {
			padding: size(8);
		}
	}
}