/* ============================================================================================== */
/* scope/dev/active
/* ============================================================================================== */
body[data-modifier='dev active'] {
	.exsample {
		margin: size(2) 0;
		padding: size(2);
		height: auto;
		background: whitesmoke;
		color: color(gray, 8);
		&[data-is-active~='true'] {
			background: yellow;
		}
	}
}