/* ============================================================================================== */
/* scope/dev/active
/* ============================================================================================== */
body[data-modifier='dev active'] {
	.test {
		margin: size(2) 0;
		padding: size(2);
		height: auto;
		background: color(gray, 1);
		color: color(gray, 8);
		border: 1px solid color(gray, 9);
		&[data-is-active~='true'] {
			background: color(gray, 8);
			color: color(gray, 1);
		}
	}
}