/* ============================================================================================== */
/* scope/dev/active
/* ============================================================================================== */
body[data-modifier='dev active'] {
	.exsample {
		margin: size(2) 0;
		padding: size(2);
		height: auto;
		background: color(gray, 50);
		&[data-is-active~='true'] {
			background: color(yellow);
		}
	}
}