/* ============================================================================================== */
/* scope/dev/base
/* ============================================================================================== */
body[data-modifier^='dev'] {
	.dev-contents {
		/* html style set ======================================== */
		color: black;
		h1 {
			font-size: fontSize(3);
			text-align: center;
			font-weight: bold;
			border-bottom: 1px solid lightgray;
			padding-bottom: size(4);
			margin-bottom: size(4);
		}
		h2 {
			background: black;
			color: white;
			padding: size(1);
			margin: size(4) 0 size(2);
		}
		h3 {
			font-weight: bold;
			color: dimgray;
			background: whitesmoke;
			padding: size(1);
			margin: size(6) 0 size(2);
			border-left: size(.25) solid dimgray;
		}
		h4 {
			color: dimgray;
			font-weight: bold;
			font-size: fontSize(-1);
			margin: size(6) 0 size(2);
		}
		a:link {
			color: blue;
		}
		a:visited {
			color: purple;
		}
		/* to-index ======================================== */
		.to-index {
			display: block;
			margin-top: size(6);
		}
	}
}