/* ============================================================================================== */
/* scope/dev/hide
/* ============================================================================================== */
body[data-modifier='dev hide'] {
	.exsample {
		margin: size(2) 0;
		padding: size(2);
		background: color(gray, 1);
		&:nth-of-type(2) {
			background: color(gray, 2);
		}
		&:nth-of-type(3) {
			background: color(gray, 3);
		}
		&:nth-of-type(4) {
			background: color(gray, 4);
		}
		&:nth-of-type(5) {
			background: color(gray, 5);
		}
		&:nth-of-type(6) {
			background: color(gray, 6);
		}
		&:nth-of-type(7) {
			background: color(gray, 7);
		}
		&:nth-of-type(8) {
			background: color(gray, 8);
		}
	}
}