/* ============================================================================================== */
/* scope/dev/sitemap
/* ============================================================================================== */
body[data-modifier='dev sitemap'] {
	.dev-sitemap {
		margin-bottom: size(4);
		&__items {
			display: none;
			&[data-is-active~='true'] {
				display: block;
			}
		}
		&__item {
			background: color(gray, 1);
			border-bottom: 1px solid color(gray, 3);
			color: #000;
			margin-bottom: size(1);
			padding: size(1);
			&[data-modifier~='done'] {
				background: lighten(color(sign, success), 50%);
				&:before {
					@include fontAwesome('\f00c');
					color: color(sign, success);
					float: left;
					margin-right: size(1);
				}
			}
			&[data-modifier~='stop'] {
				background: lighten(color(sign, warning), 45%);
				&:before {
					@include fontAwesome('\f05e');
					color: color(sign, warning);
					float: left;
					margin-right: size(1);
				}
			}
		}
		&__link {
			color: #000;
			display: block;
		}
		&__url {}
		&__title {
			color: color(gray, 7);
			font-size: fontSize(-1);
			&:before {
				content: '[ ';
			}
			&:after {
				content: ' ]';
			}
		}
	}
	/* -------------------------------------------- */
	/* progressbar
	/* -------------------------------------------- */
	.dev-progressbar {
		display: flex;
		margin-bottom: size(2);
		&__item {
			color: #fff;
			font-size: 8px;
			padding: 0 size(1);
			line-height: size(4);
			white-space: nowrap;
			overflow: hidden;
			&[data-modifier~='done'] {
				background: color(sign, success);
			}
			&[data-modifier~='stop'] {
				background: color(sign, warning);
			}
			&[data-modifier~='none'] {
				background: color(gray, 7);
			}
			&[data-modifier~='undone'] {
				background: color(sign, danger);
			}
		}
	}
}