/* ============================================================================================== */
/* scope/dev/sitemap
/* ============================================================================================== */
body[data-modifier='dev sitemap'] {
	.dev-contents {
		/* dev-progressbar ======================================== */
		.dev-progressbar {
			display: flex;
			margin-bottom: size(4);
			border: size(.5) solid color(gray, 200);
			&__item {
				font-size: fontSize(-4);
				padding: 0 size(2);
				line-height: size(4);
				white-space: nowrap;
				overflow: hidden;
				font-weight: bold;
				background: color(gray, 50);
				&[data-modifier~='done'] {
					background: color(sign, positive);
					color: color(text-white);
				}
				&[data-modifier~='stop'] {
					background: color(sign, negative);
					color: color(text-white);
				}
			}
		}
		/* dev-sitemap ======================================== */
		.dev-sitemap {
			&__items {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			&__item {
				background: color(gray, 50);
				padding: size(1);
				display: flex;
				align-items: center;
				margin-bottom: 1px;
				&:before {
					margin-right: size(1);
				}
				.dev-sitemap__link {
					color: color(text);
				}
				&[data-modifier~='done'] {
					background: rgba(color(sign, positive), .1);
					color: color(sign, positive);
					@include materialDesignIcon('done');
					&:before {}
					.dev-sitemap__link {
						color: color(sign, positive);
					}
				}
				&[data-modifier~='stop'] {
					background: rgba(color(sign, negative), .1);
					color: color(sign, negative);
					@include materialDesignIcon('error');
					&:before {}
					.dev-sitemap__link {
						color: color(sign, negative);
					}
				}
			}
			&__url {}
			&__title {
				font-size: fontSize(-2);
				&:before {
					content: '[ ';
				}
				&:after {
					content: ' ]';
				}
			}
		}
	}
}