<%#
=====================================================================================================
dev/move-dev-sitemap
=====================================================================================================
%>
<a href="/dev/sitemap.html" style="position: fixed; left: 0; top: 40px; color: #fff; background: #000; font-size: 20px; line-height: 30px; width: 30px; margin: 10px 0 0 10px; text-align: center; border-radius: 100%;">
	<i class="fa fa-sitemap" aria-hidden="true"></i>
</a>
