<%#
=====================================================================================================
dev/move-styleguide
=====================================================================================================
%>
<a href="/_styleguide/" style="position: fixed; left: 0; top: 0; color: #fff; background: #000; font-size: 20px; line-height: 30px; width: 30px; margin: 10px 0 0 10px; text-align: center; border-radius: 100%;">
	<i class="fa fa-code" aria-hidden="true"></i>
</a>
