<%#
// =================================================================================================
// module/breadcrumb
// =================================================================================================
%>
<% if (typeof modifier === "undefined") { var modifier = ""; }; %>
<%#
// -----------------------------------------------
// html
// -----------------------------------------------
%>
<!-- breadcrumb -->
<div class="breadcrumb">
	<ul class="breadcrumb__items">
		<% if(parent){ %>
			<% parent.forEach(function(value, key){ %>
				<li class="breadcrumb__item">
					<a href="<%- page[value].url %>"><%- page[value].title %></a>
				</li>
			<% }) %>
		<% } %>
		<li class="breadcrumb__item">
			<%- title %>
		</li>
	</ul>
</div>
<!-- /breadcrumb -->
