<%#
// =================================================================================================
// module/footer-link
// =================================================================================================
%>
<% if (typeof modifier === "undefined") { var modifier = ""; }; %>
<%#
// -----------------------------------------------
// function
// -----------------------------------------------
%>
<% var item = function(file){ %>
	<li class="footer-link__item footer-link__<%- page[file].name %>">
		<a class="footer-link__link" href="<%- page[file].url %>"><%- page[file].title %></a>
	</li>
<% } %>
<%#
// -----------------------------------------------
// html
// -----------------------------------------------
%>
<!-- footer-link -->
<div class="footer-link">
	<ul class="footer-link__items">
</ul>
</div>
<!-- /footer-link -->
