<%#
// =================================================================================================
// module/global-nav
// =================================================================================================
%>
<% if (typeof modifier === 'undefined') { var modifier = ''; }; %>
<%#
// -----------------------------------------------
// function
// -----------------------------------------------
%>
<% var item = function(file){ %>
	<li class="global-nav__item" data-modifier="<%- file %>">
		<a class="global-nav__link" href="<%- page[file].url %>"><%- page[file].title %></a>
	</li>
<% } %>
<%#
// -----------------------------------------------
// html
// -----------------------------------------------
%>
<!-- global-nav -->
<div class="global-nav__trg" data-button-hamburger>
	<span></span>
	<span></span>
	<span></span>
</div>
<nav class="global-nav">
	<ul class="global-nav__items">
		<%- item("index") %>
</ul>
</nav>
<!-- /global-nav -->
