<%#
// =================================================================================================
// module/pagination
// =================================================================================================
%>
<% if (typeof modifier === 'undefined') { var modifier = ''; }; %>
<%#
// -----------------------------------------------
// html
// -----------------------------------------------
%>
<!-- pagination -->
<div class="pagination">
	<a class="pagination__link" data-modifire="prev" href="#">前へ</a>
	<a class="pagination__link" href="#">1</a>
	<a class="pagination__link" href="#">2</a>
	<a class="pagination__link" data-modifire="current">3</a>
	<a class="pagination__link" href="#">4</a>
	<a class="pagination__link" href="#">5</a>
	<a class="pagination__link" data-modifire="next" href="#">次へ</a>
</div>
<!-- /pagination -->
