.DS_Store
dev/node_modules
dev/design/*
!dev/design/*.xd
dev/dst
dev/src/_data.json
dev/src/_data/_post.json
dev/src/common/sass/component/_icon.scss
dev/src/common/font
dev/package-lock.json
test
stage