.DS_Store
dev/node_modules
dev/design/assets
dev/design/material
dev/design/src
dev/dst
dev/src/_data.json
dev/src/common/sass/component/_icon.scss
dev/src/common/font/icon.*
!dev/src/common/font/icon.scss