/* ============================================================================================== */
/* component/button
/* ============================================================================================== */
/*
`data-button`、`data-button-group`のスタイル設定・管理
*/
/* require ======================================== */
@import 'component/icon';
/* style ======================================== */
[data-button] {
	cursor: pointer;
	border: 0;
	display: inline-flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	line-height: 1;
	/* default style ---------------------------------------- */
	border-radius: size(.5);
	color: color(text);
	font-size: fontSize(1);
	font-weight: 500;
	height: 2.5em;
	padding: 0.5em 1.5em;
	margin: 1em 0.25em;
	&:hover {
		text-decoration: none;
	}
	/* icon -------------------- */
	&:before {
		font-size: 1em;
		margin-left: -.25em;
		margin-right: 0.25em;
	}
	&:after {
		font-size: 1em;
		margin-left: 0.25em;
		margin-right: -.25em;
	}
	i {
		font-size: 1em;
		margin-left: -.25em;
		margin-right: 0.25em;
	}
	&[data-button~='after-icon'] {
		i {
			order: 2;
			margin-left: 0.25em;
			margin-right: -.25em;
		}
	}
	/* size ---------------------------------------- */
	&[data-button~='mini'] {
		font-size: fontSize(-3);
		height: 2em;
		padding: 0 1em;
	}
	&[data-button~='small'] {
		font-size: fontSize(-1);
		height: 2em;
		padding: 0 1.5em;
	}
	&[data-button~='regular'] {
		font-size: fontSize(1);
		height: 2.5em;
		padding: 0.5em 1.5em;
	}
	&[data-button~='large'] {
		font-size: fontSize(3);
		border-radius: size(.75);
		height: 2.5em;
		padding: 0.5em 2em;
	}
	&[data-button~='huge'] {
		font-size: fontSize(5);
		border-radius: size(1);
		height: 2em;
		padding: 0.5em 2em;
	}
	&[data-button~='full'] {
		width: 100%;
		display: block;
		margin: 1em 0;
	}
	/* button color ---------------------------------------- */
	@each $modifier, $color in map-get($colorPalette, buttonColor) {
		@if $modifier != 'default' {
			&[data-button~="#{$modifier}"] {
				color: color(text-white);
				background: rgba($color, 1);
				&:hover {
					background: rgba($color, .9);
				}
				&:active {
					background: rgba($color, .75);
				}
				&[data-button~="frame"] {
					background: color(white);
					color: rgba($color, 1);
					border: 2px solid rgba($color, 1);
					@include elevation(0);
					&:hover {
						background: rgba($color, .05);
					}
					&:active {
						background: rgba($color, .1);
					}
				}
			}
		} @else {
			&[data-button] {
				background: rgba($color, 1);
				&:hover {
					background: rgba($color, .9);
				}
				&:active {
					background: rgba($color, .75);
				}
			}
		}
	}
	/* project color ---------------------------------------- */
	@each $modifier, $color in map-get($colorPalette, project) {
		&[data-button~="project"] {
			&[data-button~="#{$modifier}"] {
				color: color(text-white);
				background: rgba($color, 1);
				&:hover {
					background: rgba($color, .9);
				}
				&:active {
					background: rgba($color, .75);
				}
				&[data-button~="frame"] {
					background: color(white);
					color: rgba($color, 1);
					border: 2px solid rgba($color, 1);
					@include elevation(0);
					&:hover {
						background: rgba($color, .05);
					}
					&:active {
						background: rgba($color, .1);
					}
				}
			}
		}
	}
	/* uniq ---------------------------------------- */
	&[data-button]:disabled,
	&[data-button~='disabled'] {
		cursor: default;
		background: color(gray, 300);
		color: color(text, -2);
		@include elevation(0);
		&:hover {
			background: color(gray, 300);
		}
		&:active {
			background: color(gray, 300);
		}
	}
}
/* data-button-group ======================================== */
[data-button-group] {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	&[data-button-group~="left"] {
		justify-content: flex-start;
	}
	&[data-button-group~="center"] {
		justify-content: center;
	}
	&[data-button-group~="right"] {
		justify-content: flex-end;
	}
	@include respondTo(xs) {
		justify-content: center;
	}
	[data-button] {
		margin: 1em 0.5em;
		&[data-button~='sm'] {}
		&[data-button~='md'] {}
		&[data-button~='lg'] {}
		&[data-button~='full'] {}
	}
}