/* ============================================================================================== */
/* foundation/mixin/drawer
/* ============================================================================================== */
/*
画面外からスライド表示するコンテンツを生成。
- `data-is-active~='boolean`で操作。

```scss
@include drawer(top) { 上からスライド表示};
@include drawer(right) { 右からスライド表示};
@include drawer(bottom) { 下からスライド表示};
@include drawer(left) { 左からスライド表示};
```
*/
@mixin drawer($pos: left) {
	max-height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	transition: all transitionTime();
	z-index: 100;
	@if $pos == left {
		left: -100vw;
		top: 0;
		&[data-is-active~="true"] {
			left: 0;
		}
	} @else if $pos == right {
		right: -100vw;
		top: 0;
		&[data-is-active~="true"] {
			right: 0;
		}
	} @else if $pos == top {
		left: 0;
		opacity: 0;
		top: -100vh;
		visibility: hidden;
		&[data-is-active~="true"] {
			opacity: 1;
			top: 0;
			visibility: visible;
		}
	} @else if $pos == bottom {
		bottom: -100vh;
		left: 0;
		visibility: hidden;
		&[data-is-active~="true"] {
			opacity: 1;
			bottom: 0;
			visibility: visible;
		}
	}
}