/* ============================================================================================== */
/* foundation/mixin/drawer
/* ============================================================================================== */
/*
画面外からスライド表示するコンテンツを生成。
- `data-is-active~='boolean`で操作。

```scss
@include drawer(top) { 上からスライド表示};
@include drawer(right) { 右からスライド表示};
@include drawer(bottom) { 下からスライド表示};
@include drawer(left) { 左からスライド表示};
@include drawer(zoom) { zoom in };
```
*/
@mixin drawer($pos: left) {
	max-height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	opacity: 0;
	visibility: hidden;
	transition: all transitionTime();
	@include elevation(5);
	&[data-is-active~="true"] {
		opacity: 1;
		visibility: visible;
	}
	@if $pos == left {
		top: 0;
		left: calc(-100% + #{size(-8)});
		&[data-is-active~="true"] {
			left: 0;
		}
	} @else if $pos == right {
		top: 0;
		right: calc(-100% + #{size(-8)});
		&[data-is-active~="true"] {
			right: 0;
		}
	} @else if $pos == top {
		top: -100%;
		left: 0;
		&[data-is-active~="true"] {
			top: 0;
		}
	} @else if $pos == bottom {
		bottom: -100%;
		left: 0;
		&[data-is-active~="true"] {
			bottom: 0;
		}
	} @else if $pos == zoom {
		top: 0;
		left: 0;
		transform: scale(.1);
		&[data-is-active~="true"] {
			transform: scale(1);
		}
	} @else if $pos == overlay {
		top: 0;
		left: 0;
	}
}