/* ============================================================================================== */
/* foundation/base/heading
/* ============================================================================================== */
[data-heading='1'],
%heading1 {
	font-size: 2.8rem;
	line-height: 1.45;
	letter-spacing: 0.05em;
	font-weight: 700;
	margin: size(2) 0;
}
[data-heading='2'],
%heading2 {
	font-size: fontSize(3);
	line-height: 1.55;
	letter-spacing: 0.05em;
	font-weight: 700;
	margin: size(2) 0;
}
[data-heading='3'],
%heading3 {
	font-size: fontSize(2);
	line-height: 1.65;
	letter-spacing: 0.05em;
	font-weight: 700;
	margin: size(2) 0 0;
}