/* ============================================================================================== */
/* component/loading
/* ============================================================================================== */
/*
ページローディング画面
*/
body {
	&[data-loading] {
		& [data-loading-overlay] {
			position: absolute;
			left: 0;
			top: 0;
			justify-content: center;
			align-items: center;
			height: 100vh;
			width: 100vw;
			z-index: 1000;
			background: #fff;
			display: flex;
			@include fontawesome('\f110');
			&:before {
				color: color(gray, 5);
				@keyframes fadeIn {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
				@keyframes spin {
					0% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate(360deg);
					}
				}
				font-size: size(4);
				animation: fadeIn transitionTime(2) ease-in forwards, spin 4s linear infinite;
			}
		}
	}
	&[data-loading~="true"] {
		& [data-loading-overlay] {}
	}
	&[data-loading~="false"] {
		& [data-loading-overlay] {
			@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					visibility: hidden;
				}
			}
			animation: fadeOut transitionTime(1) ease-out forwards;
		}
	}
}