/* ============================================================================================== */
/* component/maxlength
/* ============================================================================================== */
/*
`data-maxlength="$num"`を付与することで文字数制限が可能。

- `$num`表示する最大文字数を指定。

また、defaultでは最後に`...`を付与しているが、`data-maxlength-endtext="$string"`を設定することで、文字を変更可能。
*/
[data-maxlength] {
	visibility: hidden;
	&:after {
		content: '...';
		white-space: nowrap;
	}
	&[data-maxlength-endtext] {
		&:after {
			content: attr(data-maxlength-endtext);
		}
	}
	&[data-maxlength='inrange'] {
		&:after {
			display: none;
		}
	}
}