/* ============================================================================================== */
/* component/modal
/* ============================================================================================== */
/*
`data-modal`を付与することで、コンテンツをモーダル表示。
- `data-modal-trg="$string"`クリックで`data-modal-tar`をモーダル表示。
- `data-modal-tar="$string"`対象コンテンツ。
`data-modal-trg`に`data-is-active`を、または、javascriptで`$('exsample').modal();`を設定することでも表示可能。
*/
[data-modal-tar] {
	/* variable ======================================== */
	$maxWidth: map-get($breakpoint, md);
	/* setup ======================================== */
	width: 100%;
	max-width: $maxWidth;
	margin-left: -($maxWidth / 2);
	padding: size(1) size(2) 0;
	position: fixed;
	top: size(5);
	left: 50%;
	transition: opacity transitionTime();
	opacity: 0;
	visibility: hidden;
	z-index: $overlayElevation + 1;
	& [data-modal-contents] {
		max-height: calc(100vh - #{size(30)});
		overflow-y: auto;
		background: color(white);
		padding: size(4);
		@include elevation(5);
	}
	& [data-modal-close] {
		cursor: pointer;
		position: absolute;
		right: size(1);
		top: 0;
		position: absolute;
		right: size(1);
		@include materialDesignIcon('cancel');
		&:before {
			font-size: iconSize(3);
			line-height: 1;
			background: color(white);
			border-radius: 100%;
			color: color(black);
		}
	}
	@include respondTo(smAndUnder) {
		left: 0;
		margin-left: 0;
		width: 100%;
		max-width: none;
	}
	&[data-is-active~='true'] {
		opacity: 1;
		visibility: visible;
	}
}