/* ============================================================================================== */
/* component/modal
/* ============================================================================================== */
/*
---
name: modal
category: 2.component
tag:
- data属性
- data属性
---
`data-modal`を付与することで、コンテンツをモーダル表示。
- `data-modal-trg="$string"`クリックで`data-modal-tar`をモーダル表示。
- `data-modal-tar="$string"`対象コンテンツ。

`data-modal-trg`に`data-is-active`を、または、javascriptで`$('.exsample').modal();`を設定することでも表示可能。

```html
<button data-modal-trg="modal" data-button>modal</button>
<div data-modal-tar="modal">
	<p style="background: #fff; padding: 2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis auteirure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
```
*/
[data-modal-tar] {
	/* -------------------------------------------- */
	/* variable
	/* -------------------------------------------- */
	$maxWidth: map-get($breakpoint, md);
	/* -------------------------------------------- */
	/* setup
	/* -------------------------------------------- */
	left: 50%;
	margin-left: -($maxWidth / 2);
	max-width: $maxWidth;
	opacity: 0;
	overflow: hidden;
	padding: size(4);
	position: fixed;
	top: 0;
	transition: all 0.4s;
	visibility: hidden;
	z-index: 3;
	background: #fff;
	@if $responsive {
		@include respondTo(smAndUnder) {
			left: 0;
			margin: 0;
			max-width: none;
			padding: size(2);
		}
	}
	&[data-is-active~='true'] {
		opacity: 1;
		visibility: visible;
	}
}