/* ============================================================================================== */
/* module/movetotop
/* ============================================================================================== */
[data-movetotop] {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	cursor: pointer;
	@include materialDesignIcon('arrow_drop_up');
	&:before {
		background: color(gray, 900);
		color: color(gray, 100);
		font-size: size(5);
		height: size(6);
		line-height: size(6);
		width: size(6);
		text-align: center;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&:hover {
		opacity: opacity();
	}
	@include respondTo(lg) {
		left: 50%;
		margin-left: -#{$siteWidth/2};
		width: calc(#{$siteWidth} + #{size(8)});
	}
}