/* ============================================================================================== */
/* module/movetotop
/* ============================================================================================== */
[data-movetotop] {
	cursor: pointer;
	@include materialDesignIcon('expand_less');
	&:before {
		position: fixed;
		background: color(gray, 900);
		color: color(gray, 100);
		font-size: iconSize(3);
		height: size(6);
		line-height: size(6);
		width: size(6);
		border-radius: 100%;
		right: size(2);
		bottom: size(2);
		text-align: center;
		@include respondTo(lg) {
			right: auto;
			left: 50%;
			margin-left: $siteWidth/2;
		}
	}
}