/* ============================================================================================== */
/* component/notify
/* ============================================================================================== */
/*
`data-notify`の管理
`formbox__desc`の中で使用した場合のスタイルは`foundation base form`で管理。
*/
[data-notify] {
	padding: size(1) size(2);
	margin-bottom: size(2);
	font-size: fontSize(-1);
	background: color(gray, 50);
	overflow: auto;
	border-radius: size(.5);
	& > *:last-child {
		margin-bottom: 0;
	}
	/* box style ======================================== */
	@mixin notifySignColor($sign) {
		&[data-notify~="#{$sign}"] {
			color: color(#{$sign}, 700);
			background-color: color(#{$sign}, 50);
		}
	}
	@include notifySignColor(info);
	@include notifySignColor(success);
	@include notifySignColor(warning);
	@include notifySignColor(danger);
	/* inline ======================================== */
	&[data-notify~='inline'] {
		padding: 0;
		margin: 0;
		font-size: fontSize(1);
		background: transparent;
		overflow: visible;
		border-radius: 0;
	}
}