/* ============================================================================================== */
/* component/notify
/* ============================================================================================== */
/*
`data-notify`の管理
`formbox__desc`の中で使用した場合のスタイルは`foundation base form`で管理。
*/
[data-notify] {
	padding: size(1) size(2);
	margin-bottom: size(2);
	background: color(gray, 50);
	overflow: auto;
	border-radius: size(.5);
	@include fontSize(-1);
	& > *:last-child {
		margin-bottom: 0;
	}
	/* color ---------------------------------------- */
	@each $modifier, $color in map-get($colorPalette, sign) {
		&[data-notify~="#{$modifier}"] {
			color: color(sign, #{$modifier});
			background-color: rgba(color(sign, #{$modifier}), 0.1);
			&[data-notify~='inline'] {
				padding: 0;
				margin: 0;
				background: transparent;
				overflow: visible;
				border-radius: 0;
			}
		}
	}
}