/* ============================================================================================== */
/* component/overlay
/* ============================================================================================== */
/*
---
name: overlay
category: 2.component
---
モーダルやスマホ用ナビゲーション利用時などに表示するマスクレイヤー。
*/
body {
	&[data-overlay] {
		& [data-overlay-layer] {
			transition: all 0.4s;
			background: #000;
			content: '';
			width: 100%;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			z-index: 1;
		}
	}
	&[data-overlay~="true"] {
		position: fixed;
		width: 100%;
		& [data-overlay-layer] {
			opacity: 0.8;
			visibility: visible;
		}
	}
}
