/* ============================================================================================== */
/* component/overlay
/* ============================================================================================== */
/*
モーダルやスマホ用ナビゲーション利用時などに表示するマスクレイヤー。
*/
body {
	&[data-overlay] {
		& [data-overlay-layer] {
			transition: all transitionTime(1);
			background: #000;
			content: '';
			width: 100%;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}
	}
	&[data-overlay~="true"] {
		overflow: hidden;
		height: 100%;
		& [data-overlay-layer] {
			opacity: opacity(1);
			visibility: visible;
		}
	}
}