/* ============================================================================================== */
/* scope/article/base
/* ============================================================================================== */
body[data-modifier^='article'] {
	.main-contents {
		&__inner {
			& > article {
				/* header ======================================== */
				& > header {
					display: flex;
					flex-direction: column;
					/* title ---------------------------------------- */
					& > .title {
						order: 1;
						h1 {
							@extend %heading1;
							margin-bottom: 0;
						}
					}
					/* time ---------------------------------------- */
					& > .time {
						order: 2;
						@include fontSize(-1);
						display: flex;
						&__published {}
						&__modified {}
					}
					/* image ---------------------------------------- */
					& > .image {
						order: 3;
						margin: 2em 0;
						img {}
					}
				}
			}
		}
	}
}