<%#
=====================================================================================================
module/float-menu
=====================================================================================================
%>
<%
	if (typeof modifier === 'undefined') { var modifier = ''; };
	var ejspath = '../';
%>
<%#
-----------------------------------------------
html
-----------------------------------------------
%>
<!-- float-menu -->
<div class="float-menu">
	<div class="float-menu__inner">
		test
	</div>
</div>
<!-- /float-menu -->
