<%#
=====================================================================================================
module/header
=====================================================================================================
%>
<%
if (typeof modifier === 'undefined') { var modifier = ''; };
var ejspath = '../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<!-- header -->
<header>
	<div class="inner">
		<div class="logo"><%- site.title %></div>
	</div>
</header>
<!-- /header -->
