<%#
=====================================================================================================
module/header
=====================================================================================================
%>
<%
	if (typeof modifier === 'undefined') { var modifier = ''; };
	var ejspath = '../';
%>
<%#
-----------------------------------------------
html
-----------------------------------------------
%>
<!-- header -->
<header class="header">
	<div class="logo"><%- site.title %></div>
</header>
<!-- /header -->
