/* ============================================================================================== */
/* component/button
/* ============================================================================================== */
/*
---
name: Button
category: 2.component
tag:
- data属性
---

### Basic

`$type`の設定により自動的に生成される。基本スタイルは`$design`にて設定。

- `small`：小サイズボタン。
- `large`：大サイズボタン。
- `full`：横幅100%で表示。

以下のサンプルは`component box`を利用してレイアウトしている。

```html
<div data-box="gutter-2 inline">
	<div><button data-button>default</button></div>
	<div><button data-button="primary">primary</button></div>
	<div><button data-button="success">success</button></div>
	<div><button data-button="warning">warning</button></div>
	<div><button data-button="danger">danger</button></div>
	<div><button data-button="disabled">disabled</button></div>
</div>
<div data-box="gutter-2 inline">
	<div><button data-button="large">large</button></div>
	<div><button data-button="primary large">primary large</button></div>
	<div><button data-button="success large">success large</button></div>
	<div><button data-button="warning large">warning large</button></div>
	<div><button data-button="danger large">danger large</button></div>
	<div><button data-button="disabled large">disabled large</button></div>
</div>
<div data-box="gutter-2 inline">
	<div><button data-button="small">small</button></div>
	<div><button data-button="primary small">primary small</button></div>
	<div><button data-button="success small">success small</button></div>
	<div><button data-button="warning small">warning small</button></div>
	<div><button data-button="danger small">danger small</button></div>
	<div><button data-button="disabled small">disabled small</button></div>
</div>
<div data-box="gutter-0-2 full">
	<div><button data-button="large full mdAndOver-auto lg-full">full</button></div>
</div>
```

### Hamburger
三本線のメニュー（Hamburger button)スタイルを適用。`data-is-active`を付与することで三本線から☓に変化。`$type`の設定により自動的に生成される。

- `data-is-active~='boolean`で操作。

```html
<div data-box="inline gutter-2">
	<div>
		<button data-button-hamburger>
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
	<div>
		<button data-button-hamburger="small">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
</div>
```
*/

[data-button] {
	/* -------------------------------------------- */
	/* variable
	/* -------------------------------------------- */
	$type: (
		default: (
			textColor: lighten(#546e7a, 50%),
			bgColor: linear-gradient(#546e7a, 5%, #546e7a),
			bgHoverColor: darken(#546e7a, 5%),
			borderColor: #546e7a
		),
		primary: (
			textColor: lighten(#1e88e5, 50%),
			bgColor: linear-gradient(lighten(#1e88e5, 5%), #1e88e5),
			bgHoverColor: darken(#1e88e5, 5%),
			borderColor: darken(#1e88e5, 5%)
		),
		success: (
			textColor: lighten(color(sign, success), 50%),
			bgColor: linear-gradient(lighten(color(sign, success), 5%), color(sign, success)),
			bgHoverColor: darken(color(sign, success), 5%),
			borderColor: darken(color(sign, success), 5%)
		),
		warning: (
			textColor: lighten(color(sign, warning), 50%),
			bgColor: linear-gradient(lighten(color(sign, warning), 5%), color(sign, warning)),
			bgHoverColor: darken(color(sign, warning), 5%),
			borderColor: darken(color(sign, warning), 5%)
		),
		danger: (
			textColor: lighten(color(sign, danger), 50%),
			bgColor: linear-gradient(lighten(color(sign, danger), 5%), color(sign, danger)),
			bgHoverColor: darken(color(sign, danger), 5%),
			borderColor: darken(color(sign, danger), 5%)
		),
		disabled: (
			textColor: lighten(#9e9e9e, 20%),
			bgHoverColor: #9e9e9e,
			bgHover: #9e9e9e
		)
	);
	$style: (
		borderRadius: size(.5),
		borderWidth: size(.2),
		fontSize: fontSize(1),
		lineHeight: size(3),
		padding: size(1) size(3),

		largeBorderRadius: size(.5),
		largeFontSize: fontSize(2),
		largeLineHeight: size(5),
		largePadding: size(1) size(4),

		smallBorderRadius: size(.5),
		smallFontSize: fontSize(-1),
		smallLineHeight: size(3),
		smallPadding: size(.5) size(2)
	);
	/* -------------------------------------------- */
	/* setup
	/* -------------------------------------------- */
	border-radius: map-get($style, borderRadius);
	cursor: pointer;
	display: inline-block;
	font-size: map-get($style, fontSize);
	line-height: map-get($style, lineHeight);
	padding: map-get($style, padding);
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	&:hover {
		text-decoration: none;
	}
	@each $name, $value in $type {
		&[data-button~='#{$name}'] {
			@extend [data-button];
			background: map-get($value, bgColor);
			border: map-get($style, borderWidth) solid map-get($value, borderColor);
			box-shadow:  boxShadow();
			color: map-get($value, textColor);
			&:hover {
				background: map-get($value, bgHoverColor);
			}
		}
	}
	&[data-button] {
		@extend [data-button~='default'];
	}
	&[data-button~='large'] {
		border-radius: map-get($style, largeBorderRadius);
		font-size: map-get($style, largeFontSize);
		line-height: map-get($style, largeLineHeight);
		padding: map-get($style, largePadding);
	}
	&[data-button~='small'] {
		border-radius: map-get($style, smallBorderRadius);
		font-size: map-get($style, smallFontSize);
		line-height: map-get($style, smallLineHeight);
		padding: map-get($style, smallPadding);
	}
	&[data-button~='full'] {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	&[data-button~='auto'] {
		width: auto;
	}
	@if $responsive {
		 @each $key in $respondToKey{
			@include respondTo($key) {
				&[data-button~='#{$key}-full'] {
					margin-left: 0;
					margin-right: 0;
					width: 100%;
				}
				&[data-button~='#{$key}-auto'] {
					width: auto;
				}
			}
		}
	}
	/* uniq
	/* ------------------- */
	&[data-button~='disabled'] {
		box-shadow: none;
		border: none;
		cursor: default;
	}
}
/* -------------------------------------------- */
/* Humbergar
/* -------------------------------------------- */
[data-button-hamburger] {
	/* -------------------------------------------- */
	/* variable
	/* -------------------------------------------- */
	$type: (
		default: (
			bgColor: color(black),
			lineColor: color(white),
			lineSize: 2px,
			size: size(8)
		),
		small: (
			bgColor: color(black),
			lineColor: color(white),
			lineSize: 1px,
			size: size(6)
		)
	);
	/* -------------------------------------------- */
	/* setup
	/* -------------------------------------------- */
	background: map-get(map-get($type, default), bgColor);
	cursor: pointer;
	height: map-get(map-get($type, default), size);
	position: relative;
	width: map-get(map-get($type, default), size);
	z-index: 3;
	span {
		background: map-get(map-get($type, default), lineColor);
		height: map-get(map-get($type, default), lineSize);
		left: 25%;
		position: absolute;
		transition: all 0.4s;
		width: 50%;
		&:nth-of-type(1) {
		margin-top: -12%;
			top: 50%;
		}
		&:nth-of-type(2) {
			top: 50%;
		}
		&:nth-of-type(3) {
			margin-top: 12%;
			top: 50%;
		}
	}
	&[data-is-active~='true'] {
		span {
			&:nth-of-type(1) {
				margin-top: 0;
				transform: rotate(-45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:nth-of-type(3) {
				margin-top: 0;
				transform: rotate(45deg);
			}
		}
	}
	@each $name, $value in $type {
		&[data-button-hamburger~='#{$name}'] {
			@extend [data-button-hamburger];
			background: map-get($value, bgColor);
			height: map-get($value, size);
			width: map-get($value, size);
			span {
				background: map-get($value, lineColor);
				height: map-get($value, lineSize);
			}
		}
	}
}
