<%#
=====================================================================================================
product/post
=====================================================================================================
%>
<%
	var ejspath = '../';
	var template = 'default';
%>
<%#
-----------------------------------------------
html
-----------------------------------------------
%>
<%- include(ejspath + '_template/' + template, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h1><%- title %></h1>
<%- body %>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_template/' + template, {modifier: 'after'}) %>
