<%#
// =================================================================================================
// news/index
// =================================================================================================
%>
<main>
	<% Object.keys(post.news).forEach(function(value, key){ %>
		<li>
			<a href="<%- post.news[value].url %>"><%- post.news[value].title %>
				<small><%- post.news[value].date %></small>
			</a>
		</li>
	<% }) %>
</main>
