<%#
// =================================================================================================
// news/index
// =================================================================================================
%>
<%- include(ejspath + '_template/before') %>
<%# --------------------------------------------------------------------------------------------- %>
<h2><%- title %></h2>
<%# --------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_template/after') %>
