<%#
// =================================================================================================
// product/post
// =================================================================================================
%>
<%
	if (typeof modifier === 'undefined') { var modifier = ''; };
	var ejspath = '../';
%>
<%#
// -----------------------------------------------
// html
// -----------------------------------------------
%>
<%- include(ejspath + '_template/before') %>
<%# --------------------------------------------------------------------------------------------- %>
<h1><%- title %></h1>
<%- body %>
<%# --------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_template/after') %>
