/* ============================================================================================== */
/* layout/footer
/* ============================================================================================== */
/*
---
name: Footer
category: 3.layout
---
*/
.footer {
	background: #0c0;
}
