<%#
=====================================================================================================
module/breadcrumb
=====================================================================================================
%>
<%
if (typeof modifier === 'undefined') { var modifier = ''; };
var ejspath = '../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<% if(parent.length){ %>
<!-- breadcrumb -->
<div class="breadcrumb">
	<ul class="breadcrumb__items">
		<% parent.forEach(function(index){ %>
		<% if(page[index]) { %>
		<li class="breadcrumb__item">
			<a class="breadcrumb__link" href="<%- page[index].url %>">
				<%- page[index].title %></a>
		</li>
		<% } %>
		<% }) %>
		<li class="breadcrumb__item">
			<a class="breadcrumb__link">
				<%- title %></a>
		</li>
	</ul>
</div>
<!-- /breadcrumb -->
<% } %>