<%#
=====================================================================================================
module/footer
=====================================================================================================
%>
<%
if (typeof modifier === 'undefined') { var modifier = ''; };
var ejspath = '../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<!-- footer -->
<footer class="footer">
	<div class="footer__inner">
		<small class="copyright">
			<%- data.copyright %></small>
	</div>
</footer>
<!-- /footer -->