<%#
=====================================================================================================
module/header
=====================================================================================================
%>
<%
if (typeof modifier === 'undefined') { var modifier = ''; };
var ejspath = '../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<!-- header -->
<header class="header">
	<div class="inner">
		<div class="logo"><%- data.schema.WebSite.name %></div>
	</div>
</header>
<!-- /header -->
