<%#
=====================================================================================================
module/pagination
=====================================================================================================
%>
<%
if (typeof modifier === 'undefined') { var modifier = ''; };
var ejspath = '../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
<!-- pagination -->
<div class="pagination">
	<div class="pagination__inner">
		<a class="pagination__link" data-modifier="first" href="#"></a>
		<a class="pagination__link" data-modifier="prev" href="#"></a>
		<a class="pagination__link" href="#">1</a>
		<a class="pagination__link" href="#">2</a>
		<a class="pagination__link" data-modifier="current">3</a>
		<a class="pagination__link" href="#">...</a>
		<a class="pagination__link" data-modifier="next" href="#"></a>
		<a class="pagination__link" data-modifier="last" href="#"></a>
	</div>
</div>
<!-- /pagination -->