/* ============================================================================================== */
/* template/base
/* ============================================================================================== */
/*
---
name: base
category: 3.template
---
*/
:root {
	@if $responsive {
		overflow-x: hidden;
	}
}
html {}
body {
	margin: 0 auto;
	@if $responsive {
		max-width: $siteWidth;
	} @else {
		width: $siteWidth;
	}
}
