/* ============================================================================================== */
/* template/base
/* ============================================================================================== */
/*
---
name: base
category: 3.template
---
*/
:root {
	overflow-x: hidden;
}
html {}
body {}
