<%#
=====================================================================================================
layout/common/_after
=====================================================================================================
%>
<%
var ejspath = '../../';
%>
<%# ---------------------------------------------------------------------------------------------- %>
		<% if(dev){ %>
			<%- include(ejspath + '_module/dev-link') %>
		<% } %>
		<!-- script -->
		<script src="<%- path.js %>bundle.js"></script>
		<!-- /script -->
	</body>
</html>
