/* ============================================================================================== */
/* dev/base
/* ============================================================================================== */
body[data-modifier~='dev'] {
	background: color(gray, 2);
	.dev-contents {
		@extend %wrap;
		padding: size(2);
		margin-top: size(2);
		margin-bottom: size(2);
		background: #fff;
		&__title {
			color: color(black, 2);
			font-size: size(3);
			font-weight: bold;
			line-height: size(10);
			margin: 0;
		}
	}
}
