/* ============================================================================================== */
/* component/text-color
/* ============================================================================================== */
@each $category, $categorys in $colorPalet {
	@each $type, $color in $categorys {
		@if $category != sign {
			@if $type == 'default' {
				[data-text-color~='#{$category}'] {
					color: $color;
				}
			} @else {
				[data-text-color~='#{$category}-#{$type}'] {
					color: $color;
				}
			}
		}
	}
}
/* sign color ======================================== */
@each $type, $color in map-get($colorPalet, sign) {
	[data-text-color~='#{$type}'] {
		color: $color;
	}
}