<%#
=====================================================================================================
index
=====================================================================================================
%>
<%- include(ejspath + '_template/' + template, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2><%- title %></h2>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_template/' + template, {modifier: 'after'}) %>
