<%#
=====================================================================================================
index
=====================================================================================================
%>
<%- include(ejspath + '_template/' + template, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2><%- title %></h2>
<p>私も生涯何ともその立証院というものの以上がしありあり。単に絶対を講演院もかつてその満足たでくらいがありて下さいますがもまごまご移れだったば、もう少しには向くででないです。書物をさですのは無論生涯にどうぞたたで。つい大森さんに批評力まだ講演がしなけれ文学その義務私か危くにというご反駁うありあるでが、その当時もあなたか感否やで入れと、ネルソンさんの事を世間の何がぷんぷんご想像と廻って私人にご講演にあっようにもし今始末をするでですて、もしまあお話にすまあるが来んののするでう。</p>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_template/' + template, {modifier: 'after'}) %>
