<%#
=====================================================================================================
dev/button
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2 data-dev-heading="level2">設定方法</h2>
<p>'data-button="値"'を指定することで、ボタンのデザインを適応。なお「a」または「button」で使用されることを想定。<br>また、'data-button-group'で加工ことでグループ化も可能。</p>
<h3 data-dev-heading="level3">基本スタイル</h3>
<button data-button>デフォルト</button>
<button data-button="positive">positive</button>
<button data-button="negative">negative</button>
<button data-button="info">info</button>
<button data-button="success">success</button>
<button data-button="warning">warning</button>
<button data-button="danger">danger</button>
<button data-button="positive frame">positive frame</button>
<button data-button="negative frame">negative frame</button>
<button data-button="info frame">info frame</button>
<button data-button="success frame">success frame</button>
<button data-button="warning frame">warning frame</button>
<button data-button="danger frame">danger frame</button>
<h3 data-dev-heading="level3">project専用</h3>
<button data-button="primary">primary</button>
<button data-button="secondary">secondary</button>
<button data-button="accent">accent</button>
<button data-button="primary frame">primary</button>
<button data-button="secondary frame">secondary</button>
<button data-button="accent frame">accent</button>
<h3 data-dev-heading="level3">非稼動ボタン[操作不可]</h3>
<button data-button="disabled">disabled</button>
<h3 data-dev-heading="level3">サイズ</h3>
<button data-button>default[middle]</button>
<button data-button="tiny">tiny</button>
<button data-button="small">small</button>
<button data-button="middle">middle</button>
<button data-button="large">large</button>
<button data-button="huge">huge</button>
<button data-button="full tiny">full tiny</button>
<button data-button="full small">full small</button>
<button data-button="full middle">full middle</button>
<button data-button="full large">full large</button>
<button data-button="full huge">full huge</button>
<h3 data-dev-heading="level3">icon使用サンプル [https://material.io/tools/icons]</h3>
<button data-button="tiny"><i class="material-icons">info</i>tiny</button>
<button data-button="small"><i class="material-icons">info</i>small</button>
<button data-button="middle"><i class="material-icons">info</i>middle</button>
<button data-button="large"><i class="material-icons">info</i>large</button>
<button data-button="huge"><i class="material-icons">info</i>huge</button>
<h4 data-dev-heading="level4">右側に設置する場合は'data-button="after-icon"'を指定</h4>
<button data-button="tiny after-icon"><i class="material-icons">info</i>tiny</button>
<button data-button="small after-icon"><i class="material-icons">info</i>small</button>
<button data-button="middle after-icon"><i class="material-icons">info</i>middle</button>
<button data-button="large after-icon"><i class="material-icons">info</i>large</button>
<button data-button="huge after-icon"><i class="material-icons">info</i>huge</button>
<h3 data-dev-heading="level3">data-button-group</h3>
<div data-button-group>
	<button data-button>デフォルト</button>
	<button data-button>デフォルト</button>
	<button data-button>デフォルト</button>
</div>
<div data-button-group="left">
	<button data-button>left</button>
	<button data-button>left</button>
	<button data-button>left</button>
</div>
<div data-button-group="center">
	<button data-button>center</button>
	<button data-button>center</button>
	<button data-button>center</button>
</div>
<div data-button-group="right">
	<button data-button>right</button>
	<button data-button>right</button>
	<button data-button>right</button>
</div>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>