<%#
=====================================================================================================
dev/button
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2 data-dev-heading="level2">設定方法</h2>
<p>'data-button="値"'を指定することで、ボタンのデザインを適応。なお「a」または「button」で使用されることを想定。<br>また、'data-button-group'で加工ことでグループ化も可能。</p>
<h3 data-dev-heading="level3">基本スタイル</h3>
<button data-button>デフォルト</button>
<button data-button="positive">positive</button>
<button data-button="negative">negative</button>
<button data-button="info">info</button>
<button data-button="success">success</button>
<button data-button="warning">warning</button>
<button data-button="danger">danger</button>
<button data-button="disabled">disabled</button>
<button data-button="positive frame">positive</button>
<button data-button="negative frame">negative</button>
<button data-button="info frame">info</button>
<button data-button="success frame">success</button>
<button data-button="warning frame">warning</button>
<button data-button="danger frame">danger</button>
<h3 data-dev-heading="level3">project専用</h3>
<button data-button="primary">primary</button>
<button data-button="secondary">secondary</button>
<button data-button="accent">accent</button>
<button data-button="primary frame">primary</button>
<button data-button="secondary frame">secondary</button>
<button data-button="accent frame">accent</button>
<h3 data-dev-heading="level3">サイズ</h3>
<button data-button="info">デフォルト</button>
<button data-button="success sm">small</button>
<button data-button="warning md">middle</button>
<button data-button="danger lg">large</button>
<button data-button="full">full</button>
<button data-button="full sm">full sm</button>
<button data-button="full md">full md</button>
<button data-button="full md">full lg</button>
<h3 data-dev-heading="level3">icon使用サンプル [https://material.io/tools/icons]</h3>
<button data-button><i class="material-icons">info</i>info</button>
<button data-button="sm"><i class="material-icons">settings</i>settings</button>
<button data-button="md"><i class="material-icons">shopping_cart</i>shopping_cart</button>
<button data-button="lg"><i class="material-icons">search</i>search</button>
<h4 data-dev-heading="level4">右側に設置する場合は'data-button="after-icon"'を指定</h4>
<button data-button="after-icon"><i class="material-icons">info</i>info</button>
<button data-button="sm after-icon"><i class="material-icons">settings</i>settings</button>
<button data-button="md after-icon"><i class="material-icons">shopping_cart</i>shopping_cart</button>
<button data-button="lg after-icon"><i class="material-icons">search</i>search</button>
<h3 data-dev-heading="level3">data-button-group</h3>
<div data-button-group>
	<button data-button="info">デフォルト</button>
	<button data-button="info">デフォルト</button>
	<button data-button="info">デフォルト</button>
</div>
<div data-button-group="left">
	<button data-button="info">left</button>
	<button data-button="info">left</button>
	<button data-button="info">left</button>
</div>
<div data-button-group="center">
	<button data-button="info">center</button>
	<button data-button="info">center</button>
	<button data-button="info">center</button>
</div>
<div data-button-group="right">
	<button data-button="info">right</button>
	<button data-button="info">right</button>
	<button data-button="info">right</button>
</div>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
