<%#
=====================================================================================================
dev/hoverimg
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<p>「data-hoverimg="URL"」を指定することで、マウスオーバー時に画像をtoggleする。</p>
<p><img src="https://picsum.photos/200" alt="" data-hoverimg="https://picsum.photos/201"></p>

<a class="to-index" href="<%- page['dev/index'].url %>">< 開発用ページ一覧に戻る</a>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
