<%#
=====================================================================================================
dev/hoverimg
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2>設定方法</h2>
<p>「data-hoverimg="URL"」を指定することで、マウスオーバー時に画像をtoggleする。</p>
<p><img src="https://picsum.photos/200" alt="" data-hoverimg="https://picsum.photos/201"></p>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
