<%#
=====================================================================================================
dev/maxlength
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<p>「data-hoverimg="NUM"」を指定することで表示する文字数を制限。<br>また、文末につける文字列（初期値：...）を変更可能</p>
<h2 data-dev-heading="level2">data属性での設定</h2>
<p data-maxlength="100" data-maxlength-endtext="........文末テキスト">'data-maxlength="num"'で文字数制御可能。本文は最大200字で設定。また、'data-maxlength-endtext="text"'で文末に表示するテキストを変更可能。Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h2 data-dev-heading="level2">onClickでの操作</h2>
<button data-button onclick="$('.test').maxlength(100, '...テキスト');">'maxlength起動</button>
<p class="test">本文は最大100字で設定。また、文末に表示するテキストを変更。Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
