<%#
=====================================================================================================
dev/modal
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2 class="dev-h2">data属性での操作</h2>
<button data-button data-modal-trg="exsample">modal起動（data-modal-trg="exsample"）</button>

<h2 class="dev-h2">onClickでの操作</h2>
<div data-button-group>
	<button data-button onclick="$('[data-modal-tar=exsample]').modal();">'modal起動（onclick="$('.exsample').modal();"）</button>
	<button data-button onclick="$('[data-modal-tar=exsample]').modal();">'modal起動（onclick="$('[data-modal-tar=exsample]').modal();"）</button>
</div>
<div class="exsample" data-modal-tar="exsample">
	<div style="background: #fff; padding: 32px;">
		<p>コンテンツを包んでいる'&lt;div data-modal-tar=&quot;exsample&quot;&gt;&lt;div&gt;...&lt;/div&gt;&lt;/div&gt;'はモーダル化するために必須</p>
	</div>
</div>

<div data-modal-tar="exsample2" data-is-active="true">
	<div style="background: #fff; padding: 32px;">
		<p>コンテンツを包んでいる'&lt;div data-modal-tar=&quot;exsample&quot;&gt;&lt;div&gt;...&lt;/div&gt;&lt;/div&gt;'はモーダル化するために必須</p>
		<p>このモーダルは「data-is-active="true"」を付与しているため、ページロード時に表示</p>
	</div>
</div>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
