<%#
=====================================================================================================
dev/text-color
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2 class="dev-h2">設定方法</h2>
<p>'data-text-color="値"'を指定することで、テキストの色をサイトで使用されている任意の色に変更可能。</p>
<h3 class="dev-h3">base color</h3>
<ul>
	<li data-text-color="text">data-text-color="text"</li>
	<li data-text-color="text-dark">data-text-color="text-dark"</li>
	<li data-text-color="text-light">data-text-color="text-light"</li>
	<li data-text-color="link">data-text-color="link"</li>
	<li data-text-color="link-hover">data-text-color="link-hover"</li>
	<li data-text-color="link-visited">data-text-color="link-visited"</li>
	<li data-text-color="white">data-text-color="white"</li>
	<li data-text-color="black">data-text-color="black"</li>
</ul>
<h3 class="dev-h3">sign color</h3>
<ul>
	<li data-text-color="info">data-text-color="info"</li>
	<li data-text-color="success">data-text-color="success"</li>
	<li data-text-color="attention">data-text-color="attention"</li>
	<li data-text-color="caution">data-text-color="caution"</li>
</ul>
<h3 class="dev-h3">project color</h3>
<ul>
	<li data-text-color="primary">data-text-color="primary"</li>
	<li data-text-color="primary-light">data-text-color="primary-light"</li>
	<li data-text-color="primary-dark">data-text-color="primary-dark"</li>
	<li data-text-color="secondary">data-text-color="secondary"</li>
	<li data-text-color="secondary-light">data-text-color="secondary-light"</li>
	<li data-text-color="secondary-dark">data-text-color="secondary-dark"</li>
	<li data-text-color="tertiary">data-text-color="tertiary"</li>
	<li data-text-color="tertiary-light">data-text-color="tertiary-light"</li>
	<li data-text-color="tertiary-dark">data-text-color="tertiary-dark"</li>
</ul>
<h3 class="dev-h3">Material Design color palettes</h3>
<p>'Material Design color palettes'を使用可能。<a href="https://material.io/design/color/the-color-system.html#tools-for-picking-colors" target="_blank">カラー参考</a></p>
<h4 class="dev-h4">exsample</h4>
<ul>
	<li data-text-color="red-300">data-text-color="red-300"</li>
	<li data-text-color="blue-a100">data-text-color="blue-a100"</li>
	<li data-text-color="green-500">data-text-color="green-500"</li>
	<li data-text-color="brown-200">data-text-color="brown-200"</li>
</ul>
<h4 class="dev-h4">gray</h4>
<ul>
	<li data-text-color="gray-50">data-text-color="gray-50"</li>
	<li data-text-color="gray-100">data-text-color="gray-100"</li>
	<li data-text-color="gray-200">data-text-color="gray-200"</li>
	<li data-text-color="gray-300">data-text-color="gray-300"</li>
	<li data-text-color="gray-400">data-text-color="gray-400"</li>
	<li data-text-color="gray-500">data-text-color="gray-500"</li>
	<li data-text-color="gray-600">data-text-color="gray-600"</li>
	<li data-text-color="gray-700">data-text-color="gray-700"</li>
	<li data-text-color="gray-800">data-text-color="gray-800"</li>
	<li data-text-color="gray-900">data-text-color="gray-900"</li>
</ul>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
