<%#
=====================================================================================================
dev/text-color
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h2>設定方法</h2>
<p>'data-text-color="値"'を指定することで、テキストの色をサイトで使用されている任意の色に変更可能。</p>
<h3>base color</h3>
<ul>
	<li data-text-color="text-default">data-text-color="text-default"</li>
	<li data-text-color="text-dark">data-text-color="text-dark"</li>
	<li data-text-color="text-light">data-text-color="text-light"</li>
	<li data-text-color="link-default">data-text-color="link-default"</li>
</ul>
<h3>sign color</h3>
<ul>
	<li data-text-color="sign-info">data-text-color="sign-info"</li>
	<li data-text-color="sign-success">data-text-color="sign-success"</li>
	<li data-text-color="sign-attention">data-text-color="sign-attention"</li>
	<li data-text-color="sign-caution">data-text-color="sign-caution"</li>
</ul>
<h3>gray color</h3>
<ul>
	<li data-text-color="gray-1">data-text-color="gray-1"</li>
	<li data-text-color="gray-2">data-text-color="gray-2"</li>
	<li data-text-color="gray-3">data-text-color="gray-3"</li>
	<li data-text-color="gray-4">data-text-color="gray-4"</li>
	<li data-text-color="gray-5">data-text-color="gray-5"</li>
	<li data-text-color="gray-6">data-text-color="gray-6"</li>
	<li data-text-color="gray-7">data-text-color="gray-7"</li>
	<li data-text-color="gray-8">data-text-color="gray-8"</li>
	<li data-text-color="gray-9">data-text-color="gray-9"</li>
</ul>
<h3>project color</h3>
<ul>
	<li data-text-color="project-blue">data-text-color="project-blue"</li>
</ul>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
