/* ============================================================================================== */
/* module/breadcrumb
/* ============================================================================================== */
/*
`_data/page.json`から自動生成。
第2階層以降は同フォルダの`index.html`が親リンクとなる。
`index.html`が無い場合は無視される。
*/
.breadcrumb {
	$this: &;
	@extend %wrap;
	&__items {
		padding-left: size(2);
		padding-right: size(2);
		display: flex;
		overflow-x: auto;
	}
	&__item {
		white-space: nowrap;
	}
	&__link {
		display: block;
		line-height: size(5);
		text-decoration: none;
		&:hover {
			text-decoration: none;
			opacity: opacity(1);
		}
		@include materialDesignIcon('chevron_right', 'after');
		&:after {
			margin-left: size(1);
			margin-right: size(1);
		}
	}
	/* uniq ======================================== */
	&__item {
		&:last-child {
			.breadcrumb__link {
				color: color(text);
				&:hover {
					opacity: 1;
				}
				&:after {
					display: none;
				}
			}
		}
	}
}