/* ============================================================================================== */
/* module/dev-link
/* ============================================================================================== */
/*
開発用
*/
.dev-link {
	$this: &;
	position: absolute;
	left: size(2);
	top: size(2);
	&__items {}
	&__item {
		margin-bottom: size(1);
	}
	&__link {
		display: flex;
		background: color(gray, 200);
		width: size(4);
		height: size(4);
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		&:hover {
			text-decoration: none;
		}
		&:before {
			color: color(black);
		}
	}
	#{$this}__item {
		&[data-modifier~='index'] {
			#{$this}__link {
				@include materialDesignIcon('home');
			}
		}
		&[data-modifier~='dev/sitemap'] {
			#{$this}__link {
				@include materialDesignIcon('link');
			}
		}
		&[data-modifier~='dev/index'] {
			#{$this}__link {
				@include materialDesignIcon('build');
			}
		}
	}
}