/* ============================================================================================== */
/* module/dev-link
/* ============================================================================================== */
/*
開発用
*/
.dev-link {
	$this: &;
	position: absolute;
	left: size(2);
	top: size(2);
	&__items {}
	&__item {
		margin-bottom: size(1);
	}
	&__link {
		&:hover {
			text-decoration: none;
		}
		&:before {
			display: block;
			background: color(gray, 100);
			color: color(text);
			border-radius: 100%;
			padding: size(1);
			line-height: 1;
		}
	}
	#{$this}__item {
		&[data-modifier~='index'] {
			#{$this}__link {
				@include materialDesignIcon('home');
			}
		}
		&[data-modifier~='dev/sitemap'] {
			#{$this}__link {
				@include materialDesignIcon('link');
			}
		}
		&[data-modifier~='dev/index'] {
			#{$this}__link {
				@include materialDesignIcon('build');
			}
		}
	}
}