/* ============================================================================================== */
/* module/global-nav
/* ============================================================================================== */
.global-nav {
	$this: &;
	/* mdAndUnder ======================================== */
	@include respondTo(mdAndUnder) {
		@include drawer(right);
		background: #fff;
		height: 100vh;
		max-width: size(48);
		width: 100%;
		padding-bottom: size(4);
		border-top: size(5) solid #000;
		&-trg {
			position: fixed;
			right: 0;
			top: 0;
			z-index: 4;
			cursor: pointer;
			height: size(5);
			width: size(5);
			&:before {
				position: absolute;
				top: 0;
				right: size(5);
				content: attr(data-menu-title);
				font-size: fontSize(-2);
				line-height: size(5);
				width: 4em;
				text-align: right;
				color: #000;
			}
			span {
				transition: all transitionTime(1);
				position: absolute;
				left: 25%;
				background: #000;
				height: 1px;
				width: 50%;
				&:nth-of-type(1) {
					margin-top: -12%;
					top: 50%;
				}
				&:nth-of-type(2) {
					top: 50%;
				}
				&:nth-of-type(3) {
					margin-top: 12%;
					top: 50%;
				}
			}
			&[data-is-active~='true'] {
				&:before {
					color: #fff;
				}
				span {
					background: #fff;
					&:nth-of-type(1) {
						margin-top: 0;
						transform: rotate(-45deg);
					}
					&:nth-of-type(2) {
						opacity: 0;
					}
					&:nth-of-type(3) {
						margin-top: 0;
						transform: rotate(45deg);
					}
				}
			}
		}
		&__items {}
		&__item {
			margin: 0 size(1);
			padding: 0 size(1);
			border-bottom: 1px solid color(gray, 5);
		}
		&__link {
			display: block;
			padding: size(2) 0;
			&:hover {
				text-decoration: none;
			}
		}
		&-cat {
			&__title {
				cursor: pointer;
				display: block;
				padding: size(2) 0;
			}
			&__items {
				transition: all transitionTime(1);
				visibility: hidden;
				overflow: hidden;
				height: 0;
				line-height: 0;
				padding: 0 size(1);
				opacity: 0;
				&[data-is-active~='true'] {
					background: color(gray, 1);
					padding: size(1);
					margin-bottom: size(2);
					height: auto;
					overflow: inherit;
					visibility: visible;
					opacity: 1;
				}
			}
			&__item {}
			#{$this}__link {
				font-size: fontSize(-1);
				border-bottom: 1px dotted color(gray, 3);
			}
			&__item {
				&:last-child {
					#{$this}__link {
						border: 0;
					}
				}
			}
		}
	}
	/* lg ======================================== */
	@include respondTo(lg) {
		width: $siteWidth;
		margin: 0 auto size(2);
		&__trg {
			display: none;
		}
		&__items {
			background: color(gray, 1);
			display: flex;
		}
		&__item {
			padding: 0 size(3);
			border-right: 1px solid color(gray, 5);
			&:last-child {
				border: 0;
			}
		}
		&__link {
			display: block;
			&:hover {
				text-decoration: none;
			}
		}
		&-cat {
			position: relative;
			&__title {
				display: block;
			}
			&__items {
				transition: all transitionTime(1);
				position: absolute;
				background: #fff;
				left: 0;
				top: size(4);
				opacity: 0;
				height: 0;
				line-height: 0;
				visibility: hidden;
				box-shadow: boxShadow(1);
				z-index: 1;
			}
			&:hover {
				.global-nav-cat__items {
					opacity: 1;
					visibility: visible;
					height: auto;
				}
			}
			&__item {}
			#{$this}__link {
				line-height: size(4);
			}
			&__item {
				&:last-child {
					#{$this}__link {}
				}
			}
		}
	}
}
/* bodyModifier ======================================== */
body[data-global-nav] {
	&[data-global-nav='true'] {}
}