/* ============================================================================================== */
/* module/pagination
/* ============================================================================================== */
.pagination {
	$this: &;
	display: flex;
	justify-content: center;
	margin: size(4) 0;
	&__link {
		border: 0;
		font-size: fontSize(-1);
		padding: size(1) size(2);
		background: linear-gradient(color(gray, 50), color(gray, 200));
		border-right: 1px solid color(gray, 200);
		@include elevation(1);
		display: inline-flex;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		line-height: 1;
		color: color(text);
		&:hover {
			text-decoration: none;
			color: color(text);
		}
		&:active {
			background: color(gray, 100);
			color: color(text);
		}
		&:visited {
			color: color(text);
		}
		&[data-modifire~='current'] {
			background: color(gray, 200);
		}
		&[data-modifire~='prev'] {
			border-radius: size(1) 0 0 size(1);
			@include materialDesignIcon('first_page');
		}
		&[data-modifire~='next'] {
			border-radius: 0 size(1) size(1) 0;
			@include materialDesignIcon('last_page', after);
		}
	}
}