/* ============================================================================================== */
/* module/pagination
/* ============================================================================================== */
.pagination {
	$this: &;
	margin: 2em auto;
	text-align: center;
	&__inner {
		display: inline-flex;
		border-radius: size(1);
		overflow: hidden;
		@include elevation(1);
	}
	/* link ======================================== */
	#{$this}__link {
		border: 0;
		font-size: fontSize(-1);
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: size(4);
		height: size(4);
		background: linear-gradient(color(gray, 50), color(gray, 100));
		color: color(text);
		border-right: 1px solid color(gray, 200);
		display: inline-flex;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		&:hover {
			background: color(gray, 50);
			color: color(text);
			text-decoration: none;
		}
		&:active {
			background: color(gray, 100);
			color: color(text);
		}
		&:visited {
			color: color(text);
		}
		&[data-modifier~='current'] {
			color: color(text, -2);
			background: color(gray, 100);
			&:active {
				background: color(gray, 100);
			}
		}
		&[data-modifier~='prev'] {
			@include materialDesignIcon('chevron_left');
			&:before {
				font-size: size(2);
			}
		}
		&[data-modifier~='next'] {
			@include materialDesignIcon('chevron_right');
			&:before {
				font-size: size(2);
			}
		}
		&[data-modifier~='first'] {
			min-width: size(5);
			@include materialDesignIcon('first_page');
			&:before {
				font-size: size(2);
			}
		}
		&[data-modifier~='last'] {
			min-width: size(5);
			@include materialDesignIcon('last_page');
			&:before {
				font-size: size(2);
			}
		}
	}
}