/* ============================================================================================== */
/* module/pagination
/* ============================================================================================== */
.pagination {
	$this: &;
	display: flex;
	justify-content: center;
	margin: size(4) 0;
	&__link {
		border: 0;
		font-size: fontSize(-1);
		padding: size(1) size(2.5);
		background: linear-gradient(color(gray, 1), color(gray, 3));
		border-right: 1px solid color(gray, 3);
		color: lighten(#000, 25%);
		box-shadow: boxShadow(1);
		display: inline-block;
		text-decoration: none;
		line-height: 1;
		&:hover {
			text-decoration: none;
		}
		&:active {
			background: color(gray, 2);
		}
		&[data-modifire~='current'] {
			background: color(gray, 3);
		}
		&[data-modifire~='prev'] {
			border-radius: size(1) 0 0 size(1);
			font-size: fontSize(-1);
			&:before {
				@include fontawesome('\f100');
				margin-right: size(.5);
			}
		}
		&[data-modifire~='next'] {
			border-radius: 0 size(1) size(1) 0;
			font-size: fontSize(-1);
			&:after {
				@include fontawesome('\f101');
				margin-left: size(.5);
			}
		}
	}
}