<%#
=====================================================================================================
exsample
=====================================================================================================
%>
<%- include(ejspath + '_layout/' + layout, {modifier: 'before'}) %>
<%# ---------------------------------------------------------------------------------------------- %>
<h1 data-heading='1'>
	<% if (schema.headline) { %>
		<%- schema.headline %>
	<% } else { %>
		<%- title %>
	<% } %>
</h1>
<%# ---------------------------------------------------------------------------------------------- %>
<%- include(ejspath + '_layout/' + layout, {modifier: 'after'}) %>
