/* ============================================================================================== */
/* module/breadcrumb
/* ============================================================================================== */
/*
---
name: Breadcrumb
category: 4.module
---
`_data/page.json`から自動生成。第2階層以降は同フォルダの`index.html`が親リンクとなる。`index.html`が無い場合は無視される。
*/
.breadcrumb {
	$this: &;
	margin: 0 auto size(2);
	max-width: $siteWidth;
	&__items {}
	&__item {
		display: inline-block;
	}
	&__link {
		display: block;
		line-height: size(5);
		padding: 0 size(2);
		text-decoration: none;
	}
}
