/* ============================================================================================== */
/* module/footer
/* ============================================================================================== */
/*
---
name: Footer
category: 4.module
---
`class="footer"`で利用されるmodule郡。
*/
/* -------------------------------------------- */
/* copyright
/* -------------------------------------------- */
.copyright {
	font-size: fontSize(-1);
}
