<%#
// =================================================================================================
// layout/sub-contents
// =================================================================================================
%>
<%
	if (typeof modifier === 'undefined') { var modifier = ''; };
	var ejspath = '../';
%>
<%#
// -----------------------------------------------
// html
// -----------------------------------------------
%>
<!-- sub-contents -->
<div class="sub-contents">
	<% if(!modifier){ %>
		<p>sub-contents</p>
	<% }; %>
</div>
<!-- /sub-contents -->
