<%#
=====================================================================================================
test
=====================================================================================================
%>
<% function content(buf) { %>
	<h2><%- title %></h2>
<% }; %>
